PORT=5000
MONGO_URI=mongodb+srv://chandrakantamajhee63_db_user:<Chandra1234>@smart-career-cluster.zjh6by9.mongodb.net/?appName=smart-career-cluster
JWT_SECRET=your-very-secure-jwt-secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development
